<h1 class="mb-4">Le Mur des Potins</h1>
<div class="row">
  <% gossips.each_with_index do |gossip, index| %>
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary"><%= gossip.author %></h5>
          <p class="card-text"><%= gossip.content %></p>
          <a href="/gossips/<%= index %>/" class="btn btn-sm btn-link">Lire la suite</a>
        </div>
      </div>
    </div>
  <% end %>
</div>