<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le Gossip Project !</h1>
    
    <a href="/gossips/new/">Ajouter un potin</a>

    <h2>Liste des potins :</h2>
    <% if gossips.empty? %>
      <p>Aucun potin pour le moment... sois le premier !</p>
    <% else %>
      <ul>
        <% gossips.each do |gossip| %>
          <li><strong><%= gossip.author %></strong> : <%= gossip.content %></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>