<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>bienvenue , Les potins arrive bientot !</h1>
        <a href="/gossips/new/">Créer un nouveau potin</a>
    </body>
</html>