<div class="card p-4 shadow-sm">
  <h2>Ajouter un potin</h2>
  <form action="/gossips/new/" method="POST">
    <div class="mb-3">
      <label class="form-label">Auteur</label>
      <input type="text" name="gossip_author" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Contenu</label>
      <textarea name="gossip_content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Balancer !</button>
  </form>
</div>